<h1>{{title}}</h1>


<form [formGroup]="loginForm" (ngSubmit)="userLogin()">
    <input type="text" placeholder="enter name" name="user" formControlName="user">
    <br>
    <span *ngIf="user && user.invalid && user.touched" style="color: red;">thi field is invalid</span>
    <br><br>
    <input type="password" placeholder="enter password" name="password" formControlName="password">
    <br>
    <span *ngIf="password && password.invalid && password.touched" style="color: red;">this field is invalid</span>
    <br> <br>
    <button [disabled]="loginForm">Login</button>
</form>